.contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
		url(../../dist/img/various-buns-breakfast-small.WebP);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.contact__attribution {
			@include attribution;
		}
	}

	&__title {
		@include title($secondary-color);
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.icons {
			width: 50px;
			height: 50px;
			margin: 1em 0;
		}

		.svg-icon {
			transition: stroke 0.3s ease, fill 0.3s ease;
		}
	}

	&__heading {
		@include heading(#fff, #fff);
	}

	&__email {
		margin-bottom: 2em;

		.email__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-decoration: none;

			&:hover {
				.svg-icon,
				.contact__email-address {
					stroke: #c0c0c0;
					color: #c0c0c0;
				}
			}
		}
	}

	&__email-address {
		font-size: 1.4rem;
		color: #fff;
		transition: color 0.3s ease;
	}

	&__phone {
		margin-bottom: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:hover {
			.svg-icon,
			.contact__phone-number {
				fill: #c0c0c0;
				color: #c0c0c0;
			}
		}
	}

	.phone__image-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
	}

	&__phone-number {
		margin-bottom: 0;
		font-size: 1.8rem;
		color: #ffffff;
		transition: color 0.3s ease;
	}

	&__facebook {
		padding: 1em;
		margin-bottom: 2em;

		&:hover .svg-icon {
			fill: #c0c0c0;
		}
	}

	.gmp-map {
		height: 300px;
		width: 260px;
		margin: 2em auto 4em;
		border-radius: 8px;
	}

	&__opening-hours {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		list-style: none;

		.opening-hours__text {
			margin: 0.5em 0;
			text-align: center;
			font-size: 1.6rem;

			&--annotation {
				margin-bottom: 3em;
				font-size: 1.4rem;
				font-weight: lighter;
			}

			.opening-hours__status {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	&__attribution {
		@include attribution;
	}

	.form {
		width: 100vw;
		margin: 0em -2em -3em -2em;
		background-color: $background-color-light;

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			// justify-content: space-between;
		}

		&__title {
			@include title;
		}

		&__heading {
			@include heading;
		}

		.contact-form {
			width: 100%;
			max-width: 405px;
			padding: 2em;
			margin-top: 2.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border: 3px solid #000;
			border-radius: 8px;

			&__box {
				width: 100%;
				margin: 0.3em auto;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			&__labels {
				margin-bottom: 0.5em;
				align-self: flex-start;
				font-size: 2rem;
				font-weight: bold;
				color: #000;
			}

			&__inputs {
				width: 100%;
				padding: 0.5em;
				border: 2px solid #000;
				border-radius: 6px;
				resize: vertical;

				&::placeholder {
					font-size: 1.2rem;
					font-weight: lighter;
				}

				&:focus {
					outline: 1px solid #000;
				}
			}

			&__input-btn {
				@include main-btn;
			}

			.error .contact-form__inputs {
				border: 2px solid rgb(184, 0, 0);
				background-color: #ff00000d;
			}

			&__error-text {
				margin: 0.2em 0 0 0.4em;
				align-self: flex-start;
				font-size: 1rem;
				font-weight: lighter;
				color: rgb(184, 0, 0);
				visibility: hidden;
			}

			&__box.error .contact-form__error-text {
				visibility: visible;
			}
		}
		&__popup {
			padding: 0.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: fixed;
			top: -350px;
			width: 300px;
			height: 150px;
			background-color: #fff;
			color: #000;
			border-radius: 8px;
			border: 3px solid #000;
			transition: top 0.8s;
			z-index: 2137;

			&-text {
				margin-bottom: 1em;
				font-weight: bold;
			}
		}

		&__popup-close {
			@include main-btn;
		}

		.show-popup {
			top: 150px;
		}
	}
}
