.contact {
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,.6)), url(../../dist/img/various-buns-breakfast-small.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#gmp-map {
	height: 300px;
	width: 100%;
    border-radius: 6px;
}
