.footer {
	padding: 0.5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $background-color-dark;
	border-top: #fff solid 1px;


	&__text,
	&__privacy-policy {
		font-size: 1.3rem;
		font-weight: lighter;
	}

	&__privacy-policy {
		padding: 1em;
		text-decoration: none;
		color: $privacy-policy-link;
		transition: color .3s;

		&:hover {
			color: #4690ff;
		}
	}
}
