.gallery {
	background-color: #f1f1f1;
	&__title {
		@include title;
	}
	&__flex-container {
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	&__img-container {
		height: 300px;
		flex: 1 1 auto;

		&::marker {
			color: transparent;
		}
	}

	&__photo {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border: 1px solid #ccc;
		border-radius: 6px;
		box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
		transition: scale 0.3s;
		cursor: pointer;

		&:hover {
			scale: 1.05;
		}
	}

	&__img-fullscreen {
		width: 95vw;
		height: 95vh;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		object-fit: cover;
		z-index: 9999;
		overflow: visible;
		visibility: hidden;

		&::marker {
			color: transparent;
		}
	}

	&__photo-fullscreen {
		height: 100%;
		width: auto;
		margin: 0 auto;
		object-fit: fill;
		border: 1px solid #ccc;
		border-radius: 6px;
		box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);

		&:hover {
			cursor: pointer;
		}
	}
}

.animation {
	animation: img-sizeup .5s ease both;
}

