@keyframes bounce {
	0% {
		transform: translateY(-45px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translateY(-24px);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(-12px);
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
		opacity: 0;
	}
}

@keyframes img-sizeup {
	0% {
		position: fixed;
		visibility: hidden;
		opacity: 0;
	}

	100% {
		position: fixed;
		visibility: visible;
		opacity: 1;
	}
}
