@mixin title($color: $primary-color, $line-width: 200px) {
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	font-size: 4rem;
	font-family: 'Young Serif', serif;
	color: $color;

	&::after {
		content: '';
		height: 3px;
		width: $line-width;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color;
	}
}

@mixin main-btn {
	padding: 1em 1.5em;
	background-color: $secondary-color;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 12px;
	border: 2px solid #000;
	transition: background-color 0.5s, color 0.5s, border 0.5s, border 0.5s;
	cursor: pointer;

	&:hover {
		background-color: #1e1e1e;
		color: $secondary-color;
		border: 2px solid $secondary-color;
	}
}

@mixin attribution($color: #fff) {
	margin: 1em;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	color: $color;
	font-style: italic;
	z-index: 1;

	.attribution__link {
		padding: 1em 0.1em;
		color: $color;
		text-decoration-color: #ff000f;
	}
}

@mixin heading($color: #000, $borderColor: #000) {
	margin-bottom: 1.5em;
	padding: 0.5em;
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: 0px;
	font-weight: bolder;
	color: $color;
	text-shadow: 1px 1px #ffffff81;
	border: 2px solid $borderColor;
	border-radius: 8px;
}
