@import './colors';
@import './bootstrap';
@import '../../node_modules/normalize-scss/sass/normalize';
@import './reset';
@import './mixins';
@import './hamburger';
@import './header';
@import './nav';
@import './aboutUs';
@import './ourProducts';
@import './gallery';
@import './contact';
@import './footer';
@import './cookiesAndPrivacyPolicyPopup';
@import './cookiesAndPrivacyPolicyContent';
@import './keyframes';
@import './mediaQueries';

// html,
// body {
// 	// height: 100%;
// 	border: none;
// 	border-style: hidden;
// 	border-color: #fff;
// 	outline: none;
// }

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	color: #fff;
	background-color: $background-color-dark;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;

	&.block-scroll {
		overflow: hidden;
	}
}

.main,
.footer,
.nav,
.header {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 3em 2em;
}


