@use 'normalize.css/normalize';
@use './colors' as *;
@use '../node_modules/hamburgers/_sass/hamburgers/hamburgers';
@use '../node_modules/bootstrap/scss/bootstrap';
@use './header';
@use './nav';
@use './aboutUs';
@use './ourProducts';
@use './keyframes';

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

body {
	font-size: 1.6rem;
	color: #fff;
	background-color: $background-color;
	font-family: 'Open Sans', sans-serif;

	&.block-scroll {
		overflow: hidden;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-padding {
	padding: 4em 2em;
}

.title--dark {
	position: relative;
	margin-bottom: 2em;
	text-align: center;
	font-size: 4rem;
	color: $primary-color;
	font-family: 'Young Serif', serif;

	&::after {
		position: absolute;
		margin: 0 auto;
		bottom: 0;
		left: 50%;
		height: 3px;
		width: 200px;
		transform: translateX(-50%);
		background-color: $primary-color;
		content: '';
	}
}

.title--light {
	position: relative;
	margin-bottom: 2em;
	text-align: center;
	font-size: 4rem;
	color: $secondary-color;
	font-family: 'Young Serif', serif;

	&::after {
		position: absolute;
		margin: 0 auto;
		bottom: 0;
		left: 50%;
		height: 3px;
		width: 200px;
		transform: translateX(-50%);
		background-color: $secondary-color;
		content: '';
	}
}


