@use 'normalize.css/normalize';
@use './colors' as *;
@use '../node_modules/hamburgers/_sass/hamburgers/hamburgers';
@use '../node_modules/bootstrap/scss/bootstrap';
@use './header';
@use './nav';
@use './aboutUs';
@use './keyframes';

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	color: #fff;
	background-color: $background-color;
	font-family: 'Open Sans', sans-serif;

	&.block-scroll {
		overflow: hidden;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

